
					<table id="table_adherent" class="table table-bordered">
					  <thead>
 						<tr id="search">
							<th>
								<input type="text" class="search-query span1" name="numEtudiant" placeholder="N°Etudiant">
							</th>
							<th>
								<input type="text" class="search-query span2" name="name" placeholder="Nom">
							</th>
							<th>
								<input type="text" class="search-query span2" name="firstName" placeholder="Prénom">
							</th>
							<th>
								<input type="text" class="search-query span2" name="mail" placeholder="Email">

							</th>
						</tr> 
					  </thead>					  
					  <tbody id="etudiants">	
						{% for adh in adherent %}
								<tr id="{{ adh.id }}" numEtu="{{ adh.numEtudiant}}">
									  <td>{{ adh.numEtudiant}}</td>
									  <td>{{ adh.name }}</td>
									  <td>{{ adh.firstName}}</td>
									  <td>{{ adh.mail }}</td>
								</tr>	
						{% endfor %}	

					  </tbody>
					</table>